:root{
    --body-bg: #d3bd85df;
    --text-color: #000000;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --shadow-hover-color: rgba(0, 0, 0, 0.15);
    --container-bg: rgb(181, 176, 163);
    --widget-bg: rgba(236, 236, 236, 0.853);
}